body {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0;
}
.logo{
    width: 100%;
    height: 20px;
}
.logo img{
    width: 20%;
    margin-top: 15px;
}
.rename {
    color: rgb(0, 153, 255);
}
.title {
    color: gray;
}
.link-top{
    margin-bottom: 5%;
}
.sectionOneTwo{
    display: flex;
}
.side-width {
    width: 50%;
    padding-left: 5%;
}
.side-width img{
    width: 66%;
    float: right;
    padding: 8% 11%;
}
.side-width-2{
    padding-right:32%;
}
h1{
    font-size:  65px;
}
.section-2{
    margin-top: 4%;
    height: 600px;
    width: 100%;
    background-image: url("./images/shapes/7.png");
    background-repeat: no-repeat;
    margin-left: 3%;
}
.order-food{
    text-decoration: none;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 2% 3%;
    border-radius: 50px;
}
.recipe-title{
    text-align: center;
    padding: 1% 30%;
}
.recipe{
    display: flex;
    padding-left: 12%;
}
.recipe-image{
    width: 22%;
    padding: 2% 1%;
    margin-left: 3.5%;
    box-shadow: 0px 0px 24px 0px #989898;
    border-radius: 15px;
}
.recipe img{
    width: 100%;
}
.followers{
    font-size: 40px;
    margin: 0px 0px -22% 0px;
    padding: 0px 0px 0px 0px;  
}
.subscriber{
    padding-left: 15%;
}
.count{
    display: flex;
    padding-left: 14%;
    box-shadow: 0px 0px 24px 0px #989898;
    border-radius: 15px;
    margin-top: 5%;
    height: 18.5%;
    width: 68%;
    margin-left: 9%;
    padding-top: 4%;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 1%;
}
.footer-font{
    font-size: 30px;
    margin-top: 5%;
    padding-top: 1.5%;
}
.object{
    object-fit: cover;
    height: 330px;
}